<h1>Uploaded File</h1>

<pre>
  class:                <%= @uploaded_io.class %>
  content_type:         <%= @uploaded_io.content_type %>
  headers:              <%= @uploaded_io.headers %>
  original_filename:    <%= @uploaded_io.original_filename %>
  tempfile:             <%= @uploaded_io.tempfile %>
</pre>
